PUSHN 3
START
PUSHI 10
STOREG 0
PUSHI 20
STOREG 1
PUSHG 0
PUSHG 1
ADD
STOREG 2
PUSHS "Sum: "
WRITES
PUSHG 2
WRITEI
WRITELN
PUSHG 2
PUSHI 25
SUP
JZ ELSE1
PUSHS "Greater than 25"
WRITES
WRITELN
JUMP ENDIF2
ELSE1:
PUSHS "Not greater"
WRITES
WRITELN
ENDIF2:
STOP